<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>

<menu id="root-menu" label="root">

<item label="Terminal">
<action name="Execute" command="foot" />
</item>

<item label="Refresh">
<action name="Reconfigure" />
</item>

<item label="Firefox">
<action name="Execute" command="apulse ~/opt/firefox/firefox" />
</item>

<separator />
<menu id=""   label="Mew">
<item label="Exit">
<action name="Exit" />
</item>

<item label="Reboot">
<action name="Execute" command="doas /bin/reboot" />
</item>

<item label="Poweroff">
<action name="Execute" command="doas /bin/poweroff" />
</item>
</menu>


</menu>

</openbox_menu>
