Set Term = "foot"

scanner {                                                       

file("/sys/class/power_supply/BAT0/charge_full") {
BatTotal = Grab(First)
}
file("/sys/class/power_supply/BAT0/charge_now") {
BatLeft = Grab(First)
}
file("/sys/class/power_supply/BAT0/status") {                                      
BatState = RegEx("^(.*)$",First)
}

ExecClient("stdbuf -oL amixer sevents","alsactl") {}
Exec("amixer sget Master") {
AlsaVolume = RegEx(".*[[](.[0-9]+)%")
AlsaMuted = RegEx(".*[[].*[[]([A-Za-z].*)[]]")
}

}   

define BatChargeStr = Str(10*BatLeft/BatTotal,0)
define BatIcon = "battery-level-" + BatChargeStr + "0" + 
If($BatState = "Discharging","",
If(BatChargeStr = "10","","-charging"))


set AlsaMutedIcon = "audio-volume-muted-symbolic"
set AlsaVolumeIcon = Lookup(AlsaVolume,
80, "audio-volume-high-symbolic",
50, "audio-volume-medium-symbolic",
0, "audio-volume-low-symbolic",
$AlsaMutedIcon)
set AlsaIcon = If($AlsaMuted = "off",$AlsaMutedIcon,$AlsaVolumeIcon)


function("ToggleMinimize") {
[!Minimized] Minimize
[Minimized] UnMinimize
}

function("ToggleMaximize") {
[!Maximized] Maximize
[Maximized] UnMaximize
}

menu("winops") {
item(" "+GT("focus")+"%focus-windows-symbolic", Focus );
item(" "+GT("close")+"%window-close-symbolic", Close );
item(" "+GT("(un)minimize")+"%window-minimize-symbolic", Function "ToggleMinimize" );
item(" "+GT("(un)maximize")+"%window-maximize-symbolic", Function "ToggleMaximize" );
}

include("cal.widget")

layout {
exclusive_zone = "auto"

button {
style="startmenu"
action[LeftClick] = Exec "start"
}

taskbar {
style = "taskbar"
rows = 1;
icons = true;
labels = true;
action[3] = Menu "winops" ;
action[Drag] = Focus ;
title_width = 30 ;
}

label {
css = "* { -GtkWidget-hexpand: true; background: none }"
value =""
}

grid {
style="tray";

button "battery" {
action[0] = Function "BatteryInitScanner"
style = If($BatState="","hidden","module")
tooltip = Str(100*BatLeft/BatTotal,0) + "%"
value = BatIcon
}

button {
value = $AlsaIcon
tooltip = GT("Volume") + ": " + Str(AlsaVolume,0) + "%" + If(AlsaMuted," (" + GT("muted") + ")","")
  style = If(Ident($AlsaVolume),"module","hidden")
trigger = "alsactl"
action[RightClick] = Exec $Term + " -e alsamixer"
action[ScrollUp] = Exec "amixer sset Master 5%+\n"
action[ScrollDown] = Exec "amixer sset Master 5%-\n"
action[LeftClick] = Exec "amixer sset Master toggle\n"
}

label {
value = Time("%I:%M %p")
style ="time"
action[0] = Function "XCalInit"
action = Function "XCalPopUp"
}

}

}

#CSS

window {
background: linear-gradient(to bottom, rgb(49,104,213) 0%, rgb(73,147,230) 9%, rgb(36,93,215) 18%, rgb(36,93,219) 50%, rgb(37,97,222) 89%, rgb(25,65,165) 100%);
border: none;
margin: 0px;
padding-bottom: 0px; 
}

label {
-GtkWidget-vexpand: true;
}

#hidden {
-GtkWidget-visible: false;
}

button#startmenu {
background : url("/home/k/.config/sfwbar/xp.png");
min-width: 105px;
min-height: 34px;
padding:  0px 0px;
background-size: 100% 100%;
box-shadow: none;
border: none;
}

button#startmenu:hover {
background : url("/home/k/.config/sfwbar/xp-hover.png");
background-size: 100% 100%;
box-shadow: none;
border: none;
}

button#taskbar_item {
background: linear-gradient(to bottom, rgb(112,170,250) 0%, rgb(57,123,242) 10%, rgb(57,123,242) 100%);
border: 2px solid;
min-width: 205px;
border-color:  #2A3D59 #003c74 #003c74 #2A3D59;
box-shadow: inset 1px 1px 0px #00274e,
inset -1px -1px 0px #c5d3e7;
padding: 1px 3px;
margin: 1px 2px 0px 2px;
min-height: 22px;
text-shadow: 1px 1px 1px rgb(0, 0, 0);
font-size: 11px;
-ScaleImage-symbolic: true;
color: #FFFFA0;
}

button#taskbar_item.focused {
border:  solid #5a8ccf;
background: linear-gradient(to bottom, rgb(22,76,168) 0%, rgb(42,93,182) 10%, rgb(42,93,182) 100%);
}

button#taskbar_item:hover {
background: linear-gradient(to bottom, rgb(51,106,222) 0%, rgb(54,116,232) 10%, rgb(54,116,232) 100%);
box-shadow: none;
border: none;
}

label#time, button#module,#tray {
background: linear-gradient(to bottom, #16adf0 0%, #19b9f3 5%, #1290e8 18%, #0d8dea 60%, #0fa0ef 90%, #1582dc 100%);
font: 14px Sans;
box-shadow: none;
border-radius: 0px;
border: 0px;
color: white;
margin-left: 7px;
}


grid#days_grid {
  /*padding-top: 10px;*/
  margin-top: 10px;
  border-top: 1px solid @borders;
  -GtkWidget-column-homogenious: true;
  -GtkWidget-row-homogenious: true;
}

