function("SfwbarInit") {
	SetLayer "bottom"
}

function("ToggleMinimize") {
	[!Minimized] Minimize
	[Minimized] UnMinimize
}

function("ToggleMaximize") {
	[!Maximized] Maximize
	[Maximized] UnMaximize
}


# Taskbar menu
menu("winops") {
	item("Maximize", Function "ToggleMaximize" );
	item("Minimize", Function "ToggleMinimize" );
	item("Close", Close );
}


# Launcher menu
menu ("test_menu") {
        item("Wofi", Exec "wofi --show drun -I")
	item("Firefox",  Exec "/home/kai/.bin/firefox")
	item("Terminal", Exec "foot")
	item("Files",    Exec "foot  /home/kai/.bin/fm")
	}

  


layout {

	# Menu
	button {
		value = "open-menu-symbolic"
		css = "* { padding: 0px 8px 0px 8px; background: none }"
		action = Menu "test_menu"
	}



	# Taskbar
taskbar {
    rows = 1
    group = false
    group cols = 1
    group style = "taskbar_group"
    group labels = true
    group icons = true
    icons = true
    labels = true
    action[3] = Menu "winops"
  }



	# Spacer
	label {
	css = "* { -GtkWidget-hexpand: true; background: none }"
	value =""
	}
include("bat.widget")
include("alsa.widget")

tray{
rows=1
}

 grid {
    css = "* { -GtkWidget-direction: bottom; }"

  
    label {
      value = Time("%k:%M")
      style ="clock"
    }
    label {
      value = Time("%x")
      style ="clock"
    }

  }

include("showdesktop.widget")
}	



#CSS

window#sfwbar {
	border-radius: 0;
}


#menu_item,
#menu_item *,
#menu_item image,
#menu_item label {
  -GtkWidget-halign: start;
  color: black;
}

#menu_item image {
  min-width: 16px;
  min-height: 16px;
  padding-right: 2px;
}



button {
	min-height: 16px;
	min-width: 16px;
	padding: 4px;
	margin: 0px;
	border-radius: 0px;
	border: 0px;
}

progressbar {
	padding-left: 4px;
	padding-right: 4px;
	-GtkWidget-vexpand: true;
	-GtkWidget-direction: top;
}

progress, trough {
	border-radius: 0;
	border-color: #9c9c9c;
}

progress {
	border-style: outset;
	min-width: 16px;
}

trough {
	background-color: #a1a1a1;
	border-style: inset;
	min-height: 16px;
	min-width: 16px;
}

label#date {
	padding-left: 8px;
}

label#time {
	font: 12pt Sans;
	padding-right: 8px;
}

label {
	font: 9pt Sans;
}

* {
	-GtkWidget-vexpand: true;
}
