scanner {
  Exec("amixer get Master") {
    AlsaVolume = RegEx(".*[[](.[0-9]+)%")
    AlsaMuted = RegEx(".*[[].*[[]([A-Za-z].*)[]]")
  }

  file("/sys/class/power_supply/BAT0/charge_full") {
    BatTotal = Grab(First)
  }
  
file("/sys/class/power_supply/BAT0/charge_now") {
    BatLeft = Grab(First)
  }

file("/sys/class/power_supply/BAT0/status") {                                      
    BatState = RegEx("^(.*)$",First)
  }

}


set AlsaMutedIcon = "audio-volume-muted-symbolic"
set AlsaVolumeIcon = Lookup(AlsaVolume,
  80, "audio-volume-high-symbolic",
  50, "audio-volume-medium-symbolic",
  0, "audio-volume-low-symbolic",
  $AlsaMutedIcon)
set AlsaIcon = If($AlsaMuted = "off",$AlsaMutedIcon,$AlsaVolumeIcon)


define BatChargeStr = Str(10*BatLeft/BatTotal,0)
define BatIcon = "battery-level-" + BatChargeStr + "0" + 
        If($BatState = "Discharging","",
          If(BatChargeStr = "10","","-charging")) + "-symbolic"  



function("SfwbarInit") {
	SetLayer "bottom"
}

function("ToggleMinimize") {
	[!Minimized] Minimize
	[Minimized] UnMinimize
}

function("ToggleMaximize") {
	[!Maximized] Maximize
	[Maximized] UnMaximize
}


# Taskbar menu
menu("winops") {
	item("Maximize", Function "ToggleMaximize" );
	item("Minimize", Function "ToggleMinimize" );
	item("Close", Close );
}


# Launcher menu
menu ("test_menu") {
        item("Wofi", Exec "wofi --show drun -I")
	item("Firefox",  Exec "apulse /home/kai/opt/firefox/firefox")
	item("Terminal", Exec "foot")
	item("Files",    Exec "foot -a nnn /home/kai/.bin/fm")
	}

  


layout {

# Menu
	button {
		value = "open-menu-symbolic"
		css = "* { padding: 0px 8px 0px 8px; background: none }"
		action = Menu "test_menu"
	}


# Taskbar
taskbar {
  rows = 1
  icons = true
  labels = true
  title_width = 30
  filter = workspace  
action[3] = Menu "winops"
  }



# Spacer
	label {
	css = "* { -GtkWidget-hexpand: true; background: none }"
	value =""
	}

# Battery
button "battery" {
    interval = 1000
    style = If($BatState="","hidden","module")
    tooltip = Str(100*BatLeft/BatTotal,0) + "%" + BatState
    value = BatIcon
    action = "wpwrmenu "
    action[0] = wpwrmenu
    css = "* { min-height: 24px; min-width: 24px; padding: 4px; }"
}

# Volume
button "volume" {
    value = $AlsaIcon
    tooltip = "Volume: " + Str(AlsaVolume,0) + "%" + If(AlsaMuted," (muted)","")
    style = If(Ident($AlsaVolume),"module","hidden")
    action[1] = Exec "amixer sset Master toggle"
    action[3] = "foot -e alsamixer"
    action[4] = Exec "amixer sset Master 5%+"
    action[5] = Exec "amixer sset Master 5%-"
  }

# Tray
tray{
rows=1
}

# date and time
 grid {
	
    css = "* { -GtkWidget-direction: bottom;  }"
  
    label  {
          interval = 60000
      value = Time("%I:%M %p")
      style ="clock"
    }
    label  {
      interval = 86400000
      value = Time("%x")
      style ="clock"
    }

  }

include("showdesktop.widget")
}	




#CSS

window#sfwbar {
	border-radius: 0;
	  background: #3b4252;
}



#menu_item,
#menu_item *,
#menu_item image,
#menu_item label {
  -GtkWidget-halign: start;
  color: black;
}

#menu_item image {
  min-width: 20px;
  min-height: 20px;
  padding-right: 2px;
}

#taskbar_active{
  background: #98a2ac;
  color: #d61010;


}

#button {
	min-height: 20px;
	min-width: 20px;
	padding: 4px;
	margin: 0px;
	border-radius: 0px;
	border: 0px;
}

#clock {
	background: white
}

label {
	font: 9pt Sans;
}

* {
	-GtkWidget-vexpand: true;
}
